@page "/upload-big-file"
@using System.Net.Http.Headers
@using System.IO
@using AntDesign.Charts
@using MyHomeServer.Client.Models;

@inject HttpClient _httpClient
@inject SweetAlertService Swal
@inject IJSRuntime JSRuntime

<Space>
    <SpaceItem>
        <h1>Завантаження файлів</h1>
    </SpaceItem>
</Space>
<hr />

@if (isAuthenticated)
{
    <Space>
        <SpaceItem>
            <InputFile id="fileInput" OnChange="OnInputFileChange"
                disabled="@_uploaded" hidden multiple />
            <Upload Name="files" FileList="_filesPinnedDisplayingList" OnRemove="SelectedFileRemoved">
                <label class="ant-btn" for="fileInput">
                    <Icon Type="upload" />
                    Вибрати файли
                </label>
            </Upload>
        </SpaceItem>
        <SpaceItem>
            <Button Class="start-uploading-button" Type="@ButtonType.Primary" Icon="@IconType.Outline.CloudUpload" Size="@ButtonSize.Large"
                Style="margin-inline:16px"
                OnClick="StartUploadingFiles">
                Завантажити файли
            </Button>
        </SpaceItem>
    </Space>
    <hr />
    @foreach (var fileItem in _customUploadFileModels)
    {
        <Divider Orientation="left" Style="font-weight:bold">@fileItem.File.Name</Divider>
        <GridRow Justify="space-around" Align="middle" Wrap Type="flex">
        <GridCol Span="7" Style="min-width:250px; display:contents">
            <AntDesign.Progress Type="ProgressType.Circle" Percent="@fileItem.UploadPercent" Status="@fileItem.ProgressStatus"
                StrokeColor=@fileItem.ProgressStrokeColor Size="ProgressSize.Default" />
        </GridCol>
        <GridCol Span="10" Style="min-width:250px">
            <Timeline Mode="TimelineMode.Left" Class="my-timeline" Style="max-height:160px; min-height:160px; overflow-y: scroll; padding: 8px">
                @foreach(var log in fileItem.Logs)
                {
                    <TimelineItem Label="@log.Item1.ToLongTimeString()">@log.Item2</TimelineItem>
                }
            </Timeline>
        </GridCol>
        <GridCol Span="7" Style="min-width:250px; display:grid">
                <Button Class="@fileItem.NormalizedName" Type="@ButtonType.Primary" Icon="@IconType.Outline.Pause" Size="@ButtonSize.Large"
                    Style="margin-inline:16px"
                    OnClick="() => PauseUploading(fileItem.File.Name)">
                    Призупинити
                </Button>
        </GridCol>
    </GridRow>
    }
}
else {
    <h1>Я не знаю хто ти такий.</h1>
    <NavLink class="nav-link" href="signin">
        <span class="oi oi-account-login" aria-hidden="true"></span> Увійти
    </NavLink>
}
<NavigationLock ConfirmExternalNavigation="true" OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
<style>
    @@media only screen and (max-width: 425px) {
        .my-timeline {
            width: fit-content;
        }
    }
</style>

@code {

    [CascadingParameter] protected Task<AuthenticationState> AuthenticationState { get; set; }
    bool isAuthenticated { get; set; }

    private const long CHUNKSIZE = 1024 * 400;
    private bool _isVisible { get; set; } = false;

    private Dictionary<string, string> _gradientColor = new()
    {
        { "0%", "#77A1D3" },
        { "100%", "#E684AE" }
    };
    private Dictionary<string, string> _successColor = new()
    {
        { "0%", "#52c41a" },
        { "100%", "#52c41a" }
    };
    private Dictionary<string, string> _failColor = new()
    {
        { "0%", "#ff4d4f" },
        { "100%", "#ff4d4f" }
    };

    // For all files in pool
    bool _uploaded { get; set; } = false;
    private bool _pauseUploading { get; set; } = false; // For Stop Uploading Button
    private List<long> percentList = new List<long>();
    private int buttonCounter = 1;
    // Ant Design, for deleting or adding files before uploading
    private List<UploadFileItem> _filesPinnedDisplayingList = new List<UploadFileItem>();
    // For displaying progress and status of uploading
    private List<CustomUploadFileModel> _customUploadFileModels = new List<CustomUploadFileModel>();
    private string location = string.Empty;
    public bool intercepted = false;

    private async Task<bool> SelectedFileRemoved(UploadFileItem fileItem)
    {
        try
        {
            _customUploadFileModels.RemoveAll(file => String.Equals(file.File.Name, fileItem.FileName));
            StateHasChanged();
        }
        catch(Exception err)
        {
            return false;
        }
        return true;
    }
    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationState).User;
        if (user.Identity.IsAuthenticated == true)
        {
            isAuthenticated = true;
        }
    }
    private async Task PauseUploading(string fileName)
    {
        // TO DO
        if (_pauseUploading)
        {
            _pauseUploading = false;
            await Swal.FireAsync("!" + _uploaded.ToString());
        }
        else
        {
            _pauseUploading = true;
        }
    }
    // If files uploading & user wants to navigate on another page
    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        if(_uploaded)
        {
            var isConfirmed = await Swal.FireAsync(new SweetAlertOptions()
            {
                Title = "Увага!",
                Text = "Завантаження файлу, можливо, буде припинено. Продовжити?",
                Icon = "warning",
                ShowCancelButton = true
            });

            location = context.TargetLocation;
            intercepted = context.IsNavigationIntercepted;
            if(!isConfirmed.IsConfirmed)
            {
                context.PreventNavigation();
            }
        }
    }
    private async void OnInputFileChange(InputFileChangeEventArgs e)
    {
        // Clear all files list
        buttonCounter = 1;
        _filesPinnedDisplayingList.Clear();
        _customUploadFileModels.Clear();

        // Set max count of uploaded files to 20 and add files 
        foreach (var file in e.GetMultipleFiles(20))
        {
            _customUploadFileModels.Add(new CustomUploadFileModel() { File = file, NormalizedName = $"button-{buttonCounter}"});
            await JSRuntime.InvokeVoidAsync("HideButton", $"button-{buttonCounter++}");
        }

        _filesPinnedDisplayingList = _customUploadFileModels.Select(file => new UploadFileItem 
        {
            FileName = file.File.Name,
            Size = file.File.Size,
            State = UploadState.Fail
        }).ToList();

        StateHasChanged();
    }
    private async Task StartUploadingFiles()
    {
        List<double> percents = new List<double>();
        buttonCounter = 1;
        foreach (var customFileModel in _customUploadFileModels)
        {
            if(customFileModel.ProgressStatus != ProgressStatus.Success)
            {
                try {
                    var file = customFileModel.File;
                    long uploadedBytes = 0;
                    long totalBytes = file.Size;
                    int fragment = 0;
                    long chunkSize;
                    using (var inStream = file.OpenReadStream(long.MaxValue))
                    {
                        percents.Clear();
                        _filesPinnedDisplayingList.Where(f => f.FileName == customFileModel.File.Name).First().State = UploadState.Uploading;
                        customFileModel.ProgressStatus = ProgressStatus.Active;
                        customFileModel.ProgressStrokeColor = _gradientColor;
                        customFileModel.Logs.Add((DateTime.Now, "Почалось завантаження"));
                        customFileModel.NormalizedName = $"button-{buttonCounter}";
                        customFileModel.IsUploading = true;

                        await JSRuntime.InvokeVoidAsync("ShowButton", customFileModel.NormalizedName);
                        while (customFileModel.IsUploading && _pauseUploading == false)
                        {
                            chunkSize = CHUNKSIZE;
                            if (uploadedBytes + CHUNKSIZE > totalBytes)
                            {
                                chunkSize = totalBytes - uploadedBytes;
                            }
                            var chunk = new byte[chunkSize];
                            await inStream.ReadAsync(chunk, 0, chunk.Length);
                            // upload this fragment
                            using var formFile = new MultipartFormDataContent();
                            var fileContent = new StreamContent(new MemoryStream(chunk));
                            formFile.Add(fileContent, "file", file.Name);
                            // post
                            var response = await _httpClient.PostAsync($"api/File/AppendFile/{fragment++}", formFile);
                            // Update our progress data and UI
                            uploadedBytes += chunkSize;
                            customFileModel.UploadPercent = uploadedBytes * 100 / totalBytes;
                            if (customFileModel.UploadPercent % 10 == 0 && !percents.Contains(customFileModel.UploadPercent))
                            {
                                customFileModel.Logs.Add((DateTime.Now, $"Завантажено {customFileModel.UploadPercent}%"));
                                percents.Add(customFileModel.UploadPercent);
                            }
                            // Uploading of the current file ended
                            if (customFileModel.UploadPercent >= 100)
                            {
                                customFileModel.IsUploading = false;
                                customFileModel.ProgressStatus = ProgressStatus.Success;
                                var uploadingTime = DateTime.Now - customFileModel.Logs[0].Item1;
                                customFileModel.Logs.Add((DateTime.Now, $"Завантаження закінчилось і тривало {uploadingTime.Minutes} хв {uploadingTime.Seconds} сек"));
                                customFileModel.ProgressStrokeColor = _successColor;
                                _filesPinnedDisplayingList.Where(f => f.FileName == customFileModel.File.Name).First().State = UploadState.Success;
                            }
                            await InvokeAsync(StateHasChanged);
                        }
                    }
                }
                catch (Exception err)
                {
                    customFileModel.Logs.Add((DateTime.Now, $"Помилка - {err.Message}."));
                    customFileModel.ProgressStatus = ProgressStatus.Exception;
                    customFileModel.ProgressStrokeColor = _failColor;
                    _filesPinnedDisplayingList.Where(f => f.FileName == customFileModel.File.Name).First().State = UploadState.Fail;
                }
                finally
                {
                    // Hide current StopLoadingButton for the current file
                    await JSRuntime.InvokeVoidAsync("HideButton", $"button-{buttonCounter++}");
                }
            }
        }
        if(!_pauseUploading) {
            _uploaded = true;
        
            string result = "";
            if (_customUploadFileModels.Count == 1) result = "1 файл успішно завантажений";
            else if (_customUploadFileModels.Count >= 2 && _customUploadFileModels.Count < 4) result = $"{_customUploadFileModels.Count} файли успішно завантажені";
            else result = $"{_customUploadFileModels.Count} файлів успішно завантажені";
            await Swal.FireAsync("Ура!", result, "success");
        }
    }
    private bool UploadFile(IBrowserFile file)
    {
        return true;
    }
}
