@namespace MyHomeServer.Client.Components
@inherits AntDomComponentBase

<Space Class="@ClassMapper.Class" Size="@("24")">
    @if(_userName != String.Empty)
    {
        <SpaceItem>
            <AvatarDropdown Name="@_userName"
                            Avatar="https://gw.alipayobjects.com/zos/antfincdn/XAosXuNZyF/BiazfanxmamNRoxxVxka.png"
                            MenuItems="@AvatarMenuItems"
                            OnItemSelected="HandleSelectUser" />
        </SpaceItem>
    }
    else
    {
        <SpaceItem>
            <Button Type="@ButtonType.Primary" Size="@ButtonSize.Small" OnClick="@(()=>{ NavigationManager.NavigateTo("/user/login"); })">Login</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="@ButtonType.Primary" Size="@ButtonSize.Small" OnClick="@(()=>{ NavigationManager.NavigateTo("/user/register"); })">Register</Button>
        </SpaceItem>
    }
</Space>
